/* Defines Colors for Page Properties*/
$body-bg-clr: #ddd;
$body-txt-clr: #333;

/* HEADING Colour */
$heading-txt-clr:#576774;

/* Error States Color*/
$err-stt-clr:red;

/* Form Element Colours*/
$form-bg-clr:#fff;
$form-border-clr:#ccc;

/* Submit Btn Colour*/
$submit-bg-clr:#0B77DB;
$submit-txt-clr:#fff;
$submit-focus-clr:#3D6EAC;
$submit-hover-clr:#3C9AA7;
$submit-active-clr:#333;;

/* Typed Text Colour*/
$input-txt-clr:#555;
$input-focus-clr:#0B77DB;
$input-box-shadow-clr:rgba(48, 140, 255, 0.25);
$input-border-clr:#ddd;

/*Fieldset Border Colour*/
$feild-top-border-clr:#eee;

/*Form Complete Info Text */
$form-cmp-txt-clr:green;

/*Select Drop down Boder Colour*/
$sel-border-clr:#ccc;
