 /*
 -------------------------------------------------------------------
            Error States
  -------------------------------------------------------------------
 */

.error > input,
.error > label,
.error > .label,
{
    color: $err-stt-clr;
}
.error > input,
.error > select,
 {
    border-color: $err-stt-clr;
}

.erroroInfo{
    display: inline;
    color: $err-stt-clr;
    margin-left:20px;
}

