 /*
 -------------------------------------------------------------------
            Page prettiness
  -------------------------------------------------------------------
 */
body {
    font-family: sans-serif;
    line-height: 1.5;
    color: $body-txt-clr;
    background: $body-bg-clr;
    margin: 2em;
  }
  h1, h3 {
    color: $heading-txt-clr;
}

h1:first-child {
    margin-top: 0;
}

